.portfolio-timeline {
  display: table-cell;
  vertical-align: middle;
  max-width: 1140px;
  height: 100%;
  max-width: 100%;
  padding: 5rem;
  padding-bottom: 8rem;
  padding-top: 1rem;
  margin: 0 auto;
}

.header-timeline {
    margin-bottom: 3rem;
    text-align: center;
}

.timeline-data {
    position: relative;
    margin-bottom: 30px;
}

.timeline-data:before {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    background: #457f763d;
    top: 20px;
    bottom: 10px;
    margin-left: 29px;
}

.timeline-entry {
    position: relative;
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 10px;
    clear: both;
}

.timeline-wrapper {
    position: relative;
    margin-left: -20px;
}

.timeline-icon {
    display: block;
    width: 40px;
    height: 40px;
    background: #5ddac7d3;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0 0 5px #f2f3f7;
    line-height: 40px;
    float: left;
}

.timeline-label {
    position: relative;
    background: #457f763d;
    padding: 2rem 1.5em;
    margin-left: 60px;
    margin-bottom: 2rem;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.timeline-label h2 {
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0 0 1rem;
}

.timeline-label h2 a {
    color: #fff;
    text-decoration: none;
}

.timeline-label h2 span {
    opacity: 0.4;
    font-size: 1.2rem;
}

.timeline-label p {
    line-height: 1.5;
}

.timeline-label ul {
    padding-left: 1rem;
    line-height: 1.5;
    margin: 1rem;
}

.code-pkg {
  color: #5eead4;
  font-weight: 400;
  font-style: italic;
}

@media (max-width: 1024px) {
  .portfolio-timeline {
    padding: 0 2rem 10rem;
  }
  .header-timeline {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
    .portfolio-timeline {
        padding: 0 1rem 10rem;
        margin-top: 1rem;
    }
    .header-timeline {
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    .timeline-data:before {
        margin-left: 15px;
    }
    .timeline-entry {
        margin-left: 20px;
    }
    .timeline-icon {
        width: 30px;
        height: 30px;
    }
    .timeline-label {
        margin-left: 50px;
        padding: 1.5rem 1.3rem;
    }
    .timeline-label h2 {
        font-size: 1.1rem;
    }
    .timeline-label h2 span {
        font-size: 0.8rem;
    }
    .timeline-label ul {
        margin: 0.5rem 0.3rem;
    }
}